<div class="cart-complete-pro">
  <h3 class="section-title">Complete Your Kitchen:</h3>

  <div class="cart-complete-wrap">
    <div class="cart-complete-slider swiper">
      <div class="swiper-wrapper">
        <div class="cart-complete-col swiper-slide">
          <a href="#" class="cart-complete-box">
            <div class="col-left">
              <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/Image_1.png?v=1690363379" height="" width="" loading="lazy">
              <div class="quick-view-text">{% render 'icon-quick-view' %}Quick view</div>
            </div>
            <div class="col-right">
              <h6>KitchenAid</h6>
              <div class="pro-title">24-Inch Built-in Dishwasher with QuadWashTM Pro</div>
              <div class="price price--on-sale">
                <div class="price__container">
                  <div class="price__regular hidden">
                    <span class="price-item price-item--regular">
                      <span class="money">$1,899.99</span>
                    </span>
                  </div>
                  <div class="price__sale">
                    <span class="price-item price-item--sale price-item--last">
                      <span class="money">$1,899.99</span>
                    </span>
                    <s class="price-item price-item--regular">
                      <span class="money">$2,120.00</span>
                    </s>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    
        <div class="cart-complete-col swiper-slide">
          <a href="#" class="cart-complete-box">
            <div class="col-left">
              <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/Image_1.png?v=1690363379" height="" width="" loading="lazy">
              <div class="quick-view-text">{% render 'icon-quick-view' %}Quick view</div>
            </div>
            <div class="col-right">
              <h6>KitchenAid</h6>
              <div class="pro-title">24-Inch Built-in Dishwasher with QuadWashTM Pro</div>
              <div class="price price--on-sale">
                <div class="price__container">
                  <div class="price__regular hidden">
                    <span class="price-item price-item--regular">
                      <span class="money">$1,899.99</span>
                    </span>
                  </div>
                  <div class="price__sale">
                    <span class="price-item price-item--sale price-item--last">
                      <span class="money">$1,899.99</span>
                    </span>
                    <s class="price-item price-item--regular">
                      <span class="money">$2,120.00</span>
                    </s>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="cart-complete-col swiper-slide">
          <a href="#" class="cart-complete-box">
            <div class="col-left">
              <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/Image_1.png?v=1690363379" height="" width="" loading="lazy">
              <div class="quick-view-text">{% render 'icon-quick-view' %}Quick view</div>
            </div>
            <div class="col-right">
              <h6>KitchenAid</h6>
              <div class="pro-title">24-Inch Built-in Dishwasher with QuadWashTM Pro</div>
              <div class="price price--on-sale">
                <div class="price__container">
                  <div class="price__regular hidden">
                    <span class="price-item price-item--regular">
                      <span class="money">$1,899.99</span>
                    </span>
                  </div>
                  <div class="price__sale">
                    <span class="price-item price-item--sale price-item--last">
                      <span class="money">$1,899.99</span>
                    </span>
                    <s class="price-item price-item--regular">
                      <span class="money">$2,120.00</span>
                    </s>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="cart-complete-col swiper-slide">
          <a href="#" class="cart-complete-box">
            <div class="col-left">
              <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/Image_1.png?v=1690363379" height="" width="" loading="lazy">
              <div class="quick-view-text">{% render 'icon-quick-view' %}Quick view</div>
            </div>
            <div class="col-right">
              <h6>KitchenAid</h6>
              <div class="pro-title">24-Inch Built-in Dishwasher with QuadWashTM Pro</div>
              <div class="price price--on-sale">
                <div class="price__container">
                  <div class="price__regular hidden">
                    <span class="price-item price-item--regular">
                      <span class="money">$1,899.99</span>
                    </span>
                  </div>
                  <div class="price__sale">
                    <span class="price-item price-item--sale price-item--last">
                      <span class="money">$1,899.99</span>
                    </span>
                    <s class="price-item price-item--regular">
                      <span class="money">$2,120.00</span>
                    </s>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="cart-complete-col swiper-slide">
          <a href="#" class="cart-complete-box">
            <div class="col-left">
              <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/Image_1.png?v=1690363379" height="" width="" loading="lazy">
              <div class="quick-view-text">{% render 'icon-quick-view' %}Quick view</div>
            </div>
            <div class="col-right">
              <h6>KitchenAid</h6>
              <div class="pro-title">24-Inch Built-in Dishwasher with QuadWashTM Pro</div>
              <div class="price price--on-sale">
                <div class="price__container">
                  <div class="price__regular hidden">
                    <span class="price-item price-item--regular">
                      <span class="money">$1,899.99</span>
                    </span>
                  </div>
                  <div class="price__sale">
                    <span class="price-item price-item--sale price-item--last">
                      <span class="money">$1,899.99</span>
                    </span>
                    <s class="price-item price-item--regular">
                      <span class="money">$2,120.00</span>
                    </s>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="cart-complete-col swiper-slide">
          <a href="#" class="cart-complete-box">
            <div class="col-left">
              <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/Image_1.png?v=1690363379" height="" width="" loading="lazy">
              <div class="quick-view-text">{% render 'icon-quick-view' %}Quick view</div>
            </div>
            <div class="col-right">
              <h6>KitchenAid</h6>
              <div class="pro-title">24-Inch Built-in Dishwasher with QuadWashTM Pro</div>
              <div class="price price--on-sale">
                <div class="price__container">
                  <div class="price__regular hidden">
                    <span class="price-item price-item--regular">
                      <span class="money">$1,899.99</span>
                    </span>
                  </div>
                  <div class="price__sale">
                    <span class="price-item price-item--sale price-item--last">
                      <span class="money">$1,899.99</span>
                    </span>
                    <s class="price-item price-item--regular">
                      <span class="money">$2,120.00</span>
                    </s>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
  
    </div>
  
    <div class="cart-swiper-prev cart-swiper-arrow small-hide">
      {% render 'icon-right-swiper' %}
    </div>
    <div class="cart-swiper-next cart-swiper-arrow small-hide">
      {% render 'icon-right-swiper' %}
    </div>
  </div>

</div>