<div class="append_swatch">    

  <div class="fabric_colour_swatch hide">
    <label>Fabric & Colour: <span class="select_val">Asphalt Gray Twill</span></label>
    <ul class="product_list">
      <li class="active">
        <a href="#">
          <figure><img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/fabric_colour-1.png?v=1693312685" /></figure>
          <span>Chocolate</span>
        </a>
      </li>
      <li>
        <a href="#">
          <figure><img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/fabric_colour-2.png?v=1693312685" /></figure>
          <span>Oyster</span>
        </a>
      </li>
      <li>
        <a href="#">
          <figure><img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/fabric_colour-3.png?v=1693312685" /></figure>
          <span>Charcoal</span>
        </a>
      </li>
      <li>
        <a href="#">
          <figure><img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/fabric_colour-4.png?v=1693312685" /></figure>
          <span>Sand</span>
        </a>
      </li>
      <li>
        <a href="#">
          <figure><img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/fabric_colour-5.png?v=1693312685" /></figure>
          <span>Forest</span>
        </a>
      </li>
      <li>
        <a href="#">
          <figure><img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/fabric_colour-6.png?v=1693312685" /></figure>
          <span>Midnight</span>
        </a>
      </li>       
    </ul>
  </div>
  
</div>