<div class="append_swatch">
  <div class="Size_swatch hide">
    <label>{% if shop.locale == 'en' %}Size{% else %}Taille{% endif %} : <span class="select_val">King</span></label>
    <ul class="product_list">
      <li class="active"><a href="#">King</a></li>
      <li><a href="#">Queen</a></li>
      <li><a href="#">Twin</a></li>
    </ul>
  </div>
</div>