<div class="swiper items-picked">
  <ul id="product-grid" data-id="{{ section.id }}" class="pro-list swiper-wrapper" >
  {%- for product in collections['salon'].products -%}
  {% assign lazy_load = false %}
      {%- if forloop.index > 2 -%}
        {%- assign lazy_load = true -%}
      {%- endif -%}
      <li
        class="grid__item swiper-slide "
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style="--animation-order: {{ forloop.index }};"
        {% endif %}
      >
        {% render 'card-product-new',
          card_product: product,
          media_aspect_ratio: section.settings.image_ratio,
          image_shape: section.settings.image_shape,
          show_secondary_image: section.settings.show_secondary_image,
          show_vendor: section.settings.show_vendor,
          show_rating: section.settings.show_rating,
          lazy_load: lazy_load,
          show_quick_add: section.settings.enable_quick_add,
          section_id: section.id
        %}
      </li>
  {% endfor %}
  </ul>  
</div>
<div class="slide-nav-btn swiper-button-next">{% render 'icon-right-side' %}</div>
<div class="slide-nav-btn swiper-button-prev">{% render 'icon-left-side' %}</div>