<div class="quick-info-wrapper hidden">
  <div class="detail-wrapper space-content">
    <h3 class="detail-title">Quick Specs:</h3>
    <ul class="space-info">
      <li>Class Width <strong>24"</strong></li>
      <li>Depth <strong>24.61 in / 62.5 cm</strong></li>
      <li>Width <strong>23.74 in / 60.3 cm</strong></li>
      <li>Weight <strong>87.3 lbs / 39.6 kg</strong></li>
      <li>Height <strong>2.13 in / 5.4 cm</strong></li>
      <li>Number of Cycles <strong>10</strong></li>
    </ul>
  </div>

  <div class="detail-wrapper features-content">
    <h3 class="detail-title">Caractéristiques et spécifications:</h3>
    <ul class="features-items">
      <li>TrueSteamTM</li>
      <li>Vario Wash</li>
      <li>SenseClean Wash System</li>
      <li>Dynamic Dry</li>
      <li>QuadWashTM Pro</li>
      <li>Wi-Fi</li>
    </ul>
  </div>
</div>

<div class="pro-accordion-wrapper">
  <div class="accordion-main">
    <div class="accordion-item {% unless product.metafields.pimData.dimensions != blank %}hidden{% endunless %}">
      <div class="accordion-title" data-title="product-overview" onclick="toggleFilterAccordion(this)">
        <h5>Dimensions du produit</h5>
      </div>
      <div class="accordion-body">
        <div class="body-container dimensions-wrapper">
          <h3 class="sec-title">Dimensions du produit</h3>
          <figure>
            <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/dimensions.png?v=1691647878">
          </figure>

          <ul class="features-lists">
            <li>
              <span>Class Width</span>
              <strong>35" to 37.9"</strong>
            </li>
            <li>
              <span>Height </span>
              <strong>70.25 in / 178.44 cm</strong>
            </li>
            <li>
              <span>Width</span>
              <strong>35.75 in / 90.81 cm</strong>
            </li>
            <li>
              <span>Depth</span>
              <strong>36.62 in / 93.02 cm</strong>
            </li>
            <li>
              <span>Manufacturer Color</span>
              <strong>PrintProof™ Stainless Steel</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item {% unless product.metafields.pimData.specifications != blank %}hidden{% endunless %}">
      <div class="accordion-title" data-title="dimensions-specifications" onclick="toggleFilterAccordion(this)">
        <h5>Caractéristiques et spécifications</h5>
      </div>
      <div class="accordion-body">
        <div class="body-container features-specifications-wrapper">
          <h3 class="sec-title">Caractéristiques et spécifications</h3>

          <ul class="features-lists">
            <li>
              <span>Refrigerator Type</span>
              <strong>French 3-Door</strong>
            </li>
            <li>
              <span>Installation Type</span>
              <strong>Freestanding</strong>
            </li>
            <li>
              <span>Door Hinge</span>
              <strong>Left and Right</strong>
            </li>
            <li>
              <span>Color</span>
              <strong>Stainless Steel</strong>
            </li>
            <li>
              <span>Manufacturer Color</span>
              <strong>PrintProof™ Stainless Steel</strong>
            </li>
            <li>
              <span>Total</span>
              <strong>29.7 cu. ft.</strong>
            </li>
            <li>
              <span>Refrigerator</span>
              <strong>19.3 cu. ft.</strong>
            </li>
            <li>
              <span>Freezer</span>
              <strong>10.4 cu. ft.</strong>
            </li>
            <li>
              <span>Door-In-Door® with Adjustable Bin</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Dual Ice Maker with CraftIce™</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Smart Cooling Plus™ System</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>PrintProof™ Finish</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Micro Surface LED</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Door Alarm</span>
              <strong>Yes</strong>
            </li>
            <li>
              <span>Electronic Sensors</span>
              <strong>Yes</strong>
            </li>
            <li>
              <span>Interior Light</span>
              <strong>Yes</strong>
            </li>
            <li>
              <span>Interior Light</span>
              <strong>Yes</strong>
            </li>
            <li>
              <span>
                <p>Additional Information</p>
                <p>• 9 Temperature Sensors</p>
                <p>• 2 Evaporator</p>
                <p>• Fresh Air Filter</p>
                <p>• Smooth Touch Control / White LED Display</p>
                <p>• Auto Closing Door Hinge</p>
                <p>• 4 Split (3 Fixed + 1 Folding) Shelves</p>
              </span>
            </li>
            <li>
              <span>Pull Drawer</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>3-Tier Organization</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Drawer Divider</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>DuraBase™ Solid Drawer Base</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>SmartPull™ Handle</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Ice System</span>
              <strong>Exterior</strong>
            </li>
            <li>
              <span>Water System</span>
              <strong>Exterior</strong>
            </li>
            <li>
              <span>Filtration</span>
              <strong>Yes</strong>
            </li>
            <li>
              <span>Filtration Indicator</span>
              <strong>Yes</strong>
            </li>
            <li>
              <span>Integrated Ice and Water Dispenser</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Measured Fill</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Daily Ice Production (lbs) 4.5 lbs</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>IcePlus™ Production (lbs) 4.9 lbs</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Craft Ice™ Daily Ice Production 4 lbs</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Ice Storage Capacity (lbs) 3.0 lbs + 3.3 lbs</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Ice System Slim SpacePlus®</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Dual Ice with Craft Ice™</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Dispenser Light</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Water Filter LT1000P</span>
              <i class="dot-icon">
                {% render 'icon-dot' %}
              </i>
            </li>
            <li>
              <span>Power Consumption</span>
              <strong>749 (kWh/Year)</strong>
            </li>
            <li>
              <span>Energy Star Certified</span>
              <strong>Yes</strong>
            </li>
            <li>
              <span>ADA Compliant</span>
              <strong>Yes</strong>
            </li>
            <li>
              <span>Sabbath Mode</span>
              <strong>Yes</strong>
            </li>
            <li>
              <span>Parts and Labor</span>
              <strong>1 Year</strong>
            </li>
            <li>
              <span>Sealed System (Parts and Labor)</span>
              <strong>5 Years</strong>
            </li>
            <li>
              <span>Compressor (Parts and Labor)</span>
              <strong>5 Years</strong>
            </li>
            <li>
              <span>Linear Compressor (Parts Only)</span>
              <strong>6-10 Years</strong>
            </li>
            <li>
              <span>Depth without Door</span>
              <strong>29 7/8"</strong>
            </li>
            <li>
              <span>Depth (Total with Door Open)</span>
              <strong>48 1/2"</strong>
            </li>
            <li>
              <span>Height to Top of Case</span>
              <strong>68 7/8"</strong>
            </li>
            <li>
              <span>Width (Door Open 90° with Handle)</span>
              <strong>44 1/4"</strong>
            </li>
            <li>
              <span>Width (Door Open 90° without Handle)</span>
              <strong>40"</strong>
            </li>
            <li>
              <span>Door Edge Clearance with Handle</span>
              <strong>4 1/4"</strong>
            </li>
            <li>
              <span>Door Edge Clearance without Handle</span>
              <strong>2 1/8"</strong>
            </li>
            <li>
              <span>Installation Clearance Sides</span>
              <strong>1/8", Top 1", Back 2"</strong>
            </li>
            <li>
              <span>Width</span>
              <strong>38 inch(es) / 96.52 cm</strong>
            </li>
            <li>
              <span>Height</span>
              <strong>73 inch(es) / 185.42 cm</strong>
            </li>
            <li>
              <span>Depth</span>
              <strong>39 inch(es) / 99.06 cm</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item hidden">
      <div class="accordion-title" data-title="usermanual-downloads" onclick="toggleFilterAccordion(this)">
        <h5>User Manual & Downloads <span class="cout-item">(5)</span></h5>
      </div>
      <div class="accordion-body">
        <div class="body-container user-manual-downloads-wrapper">
          <h3 class="sec-title">User Manual & Downloads</h3>

          <ul class="manual-downloads-lists">
            <li>
              <a href="#">
                {% render 'icon-pdf' %}
                User Manual
                <i class="icon">{% render 'icon-download' %}</i>
              </a>
            </li>

            <li>
              <a href="#">
                {% render 'icon-pdf' %}
                Installation Guide
                <i class="icon">{% render 'icon-download' %}</i>
              </a>
            </li>

            <li>
              <a href="#">
                {% render 'icon-pdf' %}
                E67 Warranty
                <i class="icon">{% render 'icon-download' %}</i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item hidden">
      <div class="accordion-title" data-title="customers-reviews" onclick="toggleFilterAccordion(this)">
        <h5>Customers Reviews <span class="cout-item">(126)</span></h5>
      </div>
      <div class="accordion-body">
        {% comment %}  
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        {% endcomment %}

        
        
        
      </div>
    </div>

    
  </div>
</div>


























