{{ 'related-categories.css' | asset_url | stylesheet_tag }}

<div class="related-categories scroll-trigger animate--slide-in">
  <div class="page-width">
      <div class="sec-head">
        <h2 class="sec-title">Related Categories</h2>
      </div>
      <div class="categories-list">
          <div class="cate-item">
             <div class="cat-media">
               <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/cat-1.png?v=1689922529" />
             </div>
             <div class="cat-name">Cleaning Supplies {% render 'icon-right-long-arrow' %}</div>
          </div>
      
          <div class="cate-item">
             <div class="cat-media">
               <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/cat-2.png?v=1689922529" />
             </div>
             <div class="cat-name">Cleaning Supplies {% render 'icon-right-long-arrow' %}</div>
          </div>
      
          <div class="cate-item">
             <div class="cat-media">
               <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/cat-3.png?v=1689922529" />
             </div>
             <div class="cat-name">Cleaning Supplies {% render 'icon-right-long-arrow' %}</div>
          </div>
      
          <div class="cate-item">
             <div class="cat-media">
               <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/cat-4.png?v=1689922529" />
             </div>
             <div class="cat-name">Cleaning Supplies {% render 'icon-right-long-arrow' %}</div>
          </div>
      
          <div class="cate-item">
             <div class="cat-media">
               <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/cat-5.png?v=1689922529" />
             </div>
             <div class="cat-name">Cleaning Supplies {% render 'icon-right-long-arrow' %}</div>
          </div>
      
          <div class="cate-item">
             <div class="cat-media">
               <img src="https://cdn.shopify.com/s/files/1/0641/3995/2353/files/cat-6.png?v=1689922529" />
             </div>
             <div class="cat-name">Cleaning Supplies {% render 'icon-right-long-arrow' %}</div>
          </div>
        
      </div>
  </div>
</div>


{% schema %}
  {
    "name": "Related Categories",
    "class": "related-categories-wrapper",    
    "settings": [],
    "presets": [
      {
        "name": "Related Categories"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

